<?xml version="1.0"?>
<!--
/**
 * Checkout.com Magento 2 Magento2 Payment.
 *
 * PHP version 8
 *
 * @category  Checkout.com
 * @package   Magento2
 * @author    Checkout.com Development Team <integration@checkout.com>
 * @copyright 2010-present Checkout.com all rights reserved
 * @license   https://opensource.org/licenses/mit-license.html MIT License
 * @link      https://www.checkout.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="checkoutcom">
                <group id="module">
                    <group id="global_settings">
                        <field id="sdk" type="select" translate="comment" showInDefault="1" showInWebsite="1" showInStore="0">
                            <comment><![CDATA[The Hyvä plugin is not compatible with Frames SDK, please move to the <a href="https://www.checkout.com/docs/payments/accept-payments/accept-a-payment-on-your-website" target="_blank">Flow</a> SDK.<br/>Move to the new “<a href="https://www.checkout.com/docs/payments/accept-payments/accept-a-payment-on-your-website" target="_blank">Flow”</a> SDK to manage your payment methods with a single integration]]></comment>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
